<div class="container text-center mt-5">
  <h1 class="mb-4">Result</h1>
  <p class="lead"><%= @message %></p>

  <div class="d-flex justify-content-center mt-4">
    <a href="/new" class="btn btn-outline-primary px-4 py-2">Play again</a>
  </div>

</div>
